function container_uptime
    set -l start_time (awk '{print $22}' /proc/1/stat)
    set -l clock_ticks (getconf CLK_TCK)

    set -l start_seconds (math -s 0 "($start_time / $clock_ticks)")
    set -l current_seconds (awk '{print $1}' /proc/uptime)
    set -l uptime_seconds (math "$current_seconds - $start_seconds")

    set -l hours (math -s 0 "$uptime_seconds / 3600")
    set -l minutes (math -s 0 "($uptime_seconds % 3600) / 60")
    set -l seconds (math -s 0 "$uptime_seconds % 60")

    printf "%02d:%02d:%02d" $hours $minutes $seconds
end

# Display a welcome message when the Fish shell starts
function fish_greeting
    set -l width 29
    echo "**********************************************"
    echo "*                                            *"
    echo "*  Welcome to Julia Devbox 🚀                *"
    echo "*                                            *"
    echo "*  Uptime:      $(string pad -w $width --right $(container_uptime))*"
    echo "*  Fish shell:  $(string pad -w $width --right $(fish --version))*"
    echo "*  SSH User:    $(string pad -w $width --right $(whoami))*"
    echo "*                                            *"
    echo "*  🛠️  Tools Installed:                      *"
    echo "*    - Tide (Prompt)                         *"
    echo "*    - Git, NeoVim, Difftastic               *"
    echo "*    - Julia lang                            *"
    echo "*                                            *"
    echo "*  🚀 Quick Commands:                        *"
    echo "*    - tide configure: Customize your prompt *"
    echo "*                                            *"
    echo "*  Type `help` for assistance!               *"
    echo "*                                            *"
    echo "**********************************************"
    echo
    echo
end

set COLORTERM truecolor
set -g fish_term24bit 1
